<!-- Left bar -->
<div class="leftbar">
    <!-- <div class="leftbar-header"></div> -->
    <div class="leftbar-menu hidden-xs">
        <ul>
            <li><a href="#!/dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
            <li class="has-childs">
                <a href="#!/projects"><i class="fa fa-tasks" aria-hidden="true"></i> Projects <span class="caret"></span></a> 
                <ul>
                    <li><a href="#!/projects/">List</a></li>
                    <li><a href="#!/projects/create">Create new</a></li>
                </ul>
            </li>
            <li>
            	<a href="#!/team"><i class="fa fa-users" aria-hidden="true"></i> Team <span class="caret"></span></a>
            	<ul>
            		<li><a href="#!/team">List</a></li>
            		<li><a href="#!/team/invite">Invite user</a></li>
            	</ul>
            </li>
            <li><a href="#!/settings"><i class="fa fa-cog" aria-hidden="true"></i> Settings <span class="caret"></span></a>
                <ul>
                    <li><a href="#!/settings">Profile</a></li>
                    <li><a href="#!/settings/security">Security</a></li>
                    <li><a href="#!/settings/languages">Languages</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>