<!-- Top panel -->
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/dashboard" class="navbar-brand">
				Translation
			</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right vcenter">
                <li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a></li>
            	<li><a href="#!/balance"> Balance: <strong><user-balance></user-balance></strong></a></li>
                <li class="dropdown dropwdown-has-image">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Hi, <user-name></user-name>! <span class="caret"></span>
                        <div class="userimage userimage-xs"></div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#!/settings">Settings</a></li>
                        <li><a href="#!/logout">Exit</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>